%form.form-inline
  .form-group
    %label{:for => "exampleInputName2"} Email
    %input#exampleInputName2.form-control{:placeholder => "j.lin@lakers.com", :type => "text"}
  .form-group
    %label{:for => "exampleInputEmail2"} Passowrd
    %input#exampleInputEmail2.form-control{:placeholder => "*******", :type => "email"}
  %button.btn.btn-default{:type => "submit"} Sign in
