%nav.navbar.navbar-default.navbar-static-bottom{ style:{color: "#FF0000"}}
  .container-fluid
    .row
      .col-md-5
      .col-md-7
        %footer
          .icons
            %a{:href => "https://github.com/ashlynnpai", :target => "_blank"}
              %img{:src => ""}/
            %a{:href => "http://coderbits.com/ashlynnpai", :target => "_blank"}
              %img{:src => "http://www.ashlynnpai.com/img/xbits.png.pagespeed.ic.VxqSfp2rQk.png"}/
            %a{:href => "https://www.linkedin.com/in/ashlynnpai", :target => "_blank"}
              %img{:src => ""}
          %p
            ©
            = succeed "," do
              %span.blue Chris Chang
