%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %a.navbar-brand{:href => "/products"}
        %b

    %form.navbar-form.navbar-left{:role => "search"}
      .form-group
        %input.form-control{:placeholder => "Search", :type => "text"}
        %button.btn.btn-default{:type => "submit"} Submit


    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active

      %ul.nav.navbar-nav.navbar-right
        %li
          %i.glyphicon.glyphicon-shopping-cart,
          = link_to "ccc",carts_path
        - if !current_user
          %li
            = link_to("登入", new_user_session_path)
        - else
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Hi!, #{current_user.email}
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to("登出", destroy_user_session_path)
