<% if product %>
<div class="hover-part">
<div class="col-sm-12 col-md-4">
  <div class="caption-content">
  	<%=link_to image_tag('shrimp_roll.png', class: 'img-responsive'), product_path(product) %>
  </div>
  <h4>    <%= product.name %> <br></h4>
  <h4> $ <%= product.price %> <br></h4>
</div>
</div>
<% end %>

<style>
.hover-part>img:hover {
    background-color: yellow;
    text-decoration: underline;
}
</style>

