.row
  .col-md-1
  .col-xs-12.col-md-5
    .thumbnail
      %img{:alt => "...", :src => "http://hometownprovisions.net/wp-content/uploads/2010/07/breakfast-burrito.jpg"}
        .caption
          %h4 Thumbnail label
          %p ...
          %p
            %a.btn.btn-primary{:href => "#", :role => "button"} + to Cart
            %a.btn.btn-default{:href => "#", :role => "button"} Button

  .col-xs-12.col-md-5
    .thumbnail
      %img{:alt => "...", :src => "http://hometownprovisions.net/wp-content/uploads/2010/07/breakfast-burrito.jpg"}
        .caption
          %h4 Thumbnail label
          %p ...
          %p
            %a.btn.btn-primary{:href => "#", :role => "button"} Button
            %a.btn.btn-default{:href => "#", :role => "button"} Button
  .col-md-1.btn
    .thumbnail
      %span.glyphicon.glyphicon-shopping-cart{"aria-hidden" => "true"}
        %p
          %b Checkout


.row
  .col-md-1
  .col-xs-12.col-md-5
    .thumbnail
      %img{:alt => "...", :src => "http://hometownprovisions.net/wp-content/uploads/2010/07/breakfast-burrito.jpg"}
        .caption
          %h4 Thumbnail label
          %p ...
          %p
            %a.btn.btn-primary{:href => "#", :role => "button"} Button
            %a.btn.btn-default{:href => "#", :role => "button"} Button
  .col-xs-12.col-md-5
    .thumbnail
      %img{:alt => "...", :src => "http://hometownprovisions.net/wp-content/uploads/2010/07/breakfast-burrito.jpg"}
        .caption
          %h4 Thumbnail label
          %p ...
          %p
            %a.btn.btn-primary{:href => "#", :role => "button"} Button
            %a.btn.btn-default{:href => "#", :role => "button"} Button
  .col-sm-3.col-md-1
  .row
  .col-md-1
  .col-xs-12.col-md-5
    .thumbnail
      %img{:alt => "...", :src => "http://hometownprovisions.net/wp-content/uploads/2010/07/breakfast-burrito.jpg"}
        .caption
          %h4 Thumbnail label
          %p ...
          %p
            %a.btn.btn-primary{:href => "#", :role => "button"} Button
            %a.btn.btn-default{:href => "#", :role => "button"} Button
  .col-xs-12.col-md-5
    .thumbnail
      %img{:alt => "...", :src => "http://hometownprovisions.net/wp-content/uploads/2010/07/breakfast-burrito.jpg"}
        .caption
          %h4 Thumbnail label
          %p ...
          %p
            %a.btn.btn-primary{:href => "#", :role => "button"} Button
            %a.btn.btn-default{:href => "#", :role => "button"} Button
  .col-sm-3.col-md-1