.row
  - @products.each_with_index do |product, index|
    .col-xs-12.col-md-6
      .thumbnail
        %img{:alt => "...", :src => "http://hometownprovisions.net/wp-content/uploads/2010/07/breakfast-burrito.jpg"}
          .caption
            %h4= product.name
            %p= product.description
            %p
              = link_to "+ to Cart", cart_items_path, {class: "btn btn-primary", method: "post"}
